---
/* @jsxImportSource astro */
import type { Education } from "../../data/dataTypes";
const { education } = Astro.props;
---

<article
  class="border border-[rgba(0,0,0,0.04)] dark:border-white/10
  rounded-3xl p-6
  bg-white/70 dark:bg-white/10
  backdrop-blur-xl
  text-black dark:text-white
  shadow-[0_6px_20px_rgba(0,0,0,0.12)] dark:shadow-[0_8px_32px_rgba(25,30,55,0.80)]
  min-h-[517px]
  transition-all duration-300 ease-in-out
  hover:shadow-lg
  hover:bg-white/20 dark:hover:bg-neutral-800/20
  dark:hover:ring dark:hover:ring-blue-500/20"
>
  <h3 class="text-xl font-semibold mb-4 font-serif">Educación</h3>
  <ul class="space-y-2">
    {
      education.map((edu: Education) => (
        <li class="border-l-4 dark:border-white/20 border-black/10 pl-4">
          <h4 class="text-lg font-bold">{edu.degree}</h4>
          <p class="text-sm italic">{edu.institution}</p>
          <p class="text-sm text-gray-400">{edu.area}</p>
          <p class="text-sm text-gray-400">
            {edu.startDate} – {edu.endDate} | Promedio: {edu.score}
          </p>
        </li>
      ))
    }
  </ul>
</article>
