---
const { work } = Astro.props;
---

<article
  class="border border-[rgba(0,0,0,0.04)] dark:border-white/10
  rounded-3xl p-6
  bg-white/70 dark:bg-white/10
  backdrop-blur-xl
  text-black dark:text-white
  shadow-[0_6px_20px_rgba(0,0,0,0.12)] dark:shadow-[0_8px_32px_rgba(25,30,55,0.80)]
  min-h-[400px]
  transition-all duration-300 ease-in-out
  hover:shadow-lg
  hover:bg-white/20 dark:hover:bg-neutral-800/20
  dark:hover:ring dark:hover:ring-blue-500/20"
>
  <h3 class="text-xl font-semibold mb-4 font-serif">Experiencia Laboral</h3>
  <ul class="space-y-4">
    {
      work.map((job) => (
        <li class="border-l-4 border-white/20 pl-4">
          <h4 class="text-lg font-bold">
            {job.position} en {job.name}
          </h4>
          <p class="text-sm italic mb-1 text-gray-300">
            {job.startDate} – {job.endDate}
          </p>
          <p class="text-sm mb-2">{job.summary}</p>
          <ul class="list-disc list-inside text-sm text-gray-400">
            {job.highlights.map((point) => (
              <li>{point}</li>
            ))}
          </ul>
        </li>
      ))
    }
  </ul>
</article>
