---
import ArrowNarrowLeft from "../Icon/ArrowNarrowLeft.astro";
import ArrowNarrowRight from "../Icon/ArrowNarrowRight.astro";
import type { Skill } from "../../data/dataTypes";
const { stack } = Astro.props;
---

<article
  class="border border-[rgba(0,0,0,0.04)] dark:border-white/10
  rounded-3xl p-6
  bg-white/70 dark:bg-white/10
  backdrop-blur-xl
  text-black dark:text-white
  shadow-[0_6px_20px_rgba(0,0,0,0.12)] dark:shadow-[0_8px_32px_rgba(25,30,55,0.80)]
  min-h-[300px]
  transition-all duration-300 ease-in-out
  hover:shadow-lg
  hover:bg-white/20 dark:hover:bg-neutral-800/20
  dark:hover:ring dark:hover:ring-blue-500/20 grid"
>
  <h3 class="text-xl font-semibold">Habilidades Tecnológicas</h3>

  <div class="relative grid place-content-center overflow-hidden">
    <!-- Flechas -->
    <button
      id="prev"
      class="absolute left-2 top-1/2 -translate-y-1/2 z-10 bg-white/60 text-white rounded-full p-2 h-10 w-10 shadow-lg hover:bg-white/20 transition"
      aria-label="Anterior"
    >
      <ArrowNarrowLeft size={24} className="text-black" />
    </button>

    <button
      id="next"
      class="absolute right-2 top-1/2 -translate-y-1/2 z-10 bg-white/60 text-white rounded-full p-2 h-10 w-10 shadow-lg hover:bg-white/20 transition"
      aria-label="Siguiente"
    >
      <ArrowNarrowRight size={24} className="text-black" />
    </button>

    <!-- Carrusel -->
    <div
      id="carousel"
      class="place-items-center grid min-h-[300px] max-h-[320px] overflow-hidden scroll-smooth snap-x snap-mandatory scrollbar-none"
    >
      <ul
        class="flex gap-4 min-w-full place-items-center ps-[1000px] after:block after:w-12"
      >
        {
          stack.map((tech: Skill, _: number) => (
            <li class="snap-start min-w-[250px] w-[250px] h-[260px] flex-shrink-0 border border-white/20 rounded-2xl p-0 bg-white text-black dark:bg-neutral-900 dark:text-white shadow-md">
              <div class="p-6 transition-transform duration-300 ease-in-out hover:scale-105 h-full flex flex-col items-center justify-center">
                {/* //Wrapper */}
                <div class="flex flex-col items-center text-center space-y-2">
                  <h4 class="text-lg font-bold font-serif">{tech.name}</h4>
                  <div class="bg-gray-100 p-3 rounded-full shadow-inner">
                    <img
                      src={tech.icon}
                      alt={`${tech.name} icon`}
                      class="w-16 h-16"
                      loading="lazy"
                    />
                  </div>
                  <p class="text-sm italic text-gray-600 dark:text-zinc-400">
                    Nivel: {tech.level}
                  </p>
                  <ul class="flex flex-wrap justify-center gap-2 mt-2">
                    {tech.keywords.map((kw) => (
                      <li class="bg-black text-white text-xs px-3 py-1 rounded-full">
                        {kw}
                      </li>
                    ))}
                  </ul>
                </div>
              </div>
            </li>
          ))
        }
      </ul>
    </div>
  </div>

  <script type="module">
    const carousel = document.getElementById("carousel");
    const nextBtn = document.getElementById("next");
    const prevBtn = document.getElementById("prev");

    nextBtn?.addEventListener("click", () => {
      carousel?.scrollBy({ left: 300, behavior: "smooth" });
    });

    prevBtn?.addEventListener("click", () => {
      carousel?.scrollBy({ left: -300, behavior: "smooth" });
    });
  </script>
</article>
