---
import NavBar from "../components/NavBar.astro";
import CV from "../data/mockedCV.json";
import PersonalData from "../components/cv/PersonalData.astro";
import EducationData from "../components/cv/EducationData.astro";
import StackData from "../components/cv/StackData.astro";
import ExperienceData from "../components/cv/ExperienceData.astro";
import ProjectsData from "../components/cv/ProjectsData.astro";
import LanguageData from "../components/cv/LanguageData.astro";
import RandomData from "../components/cv/RandomData.astro";

import "../styles/global.css";
import ThemeToggle from "../components/utils/ThemeToggle.astro";
import ButtonPdfDownloader from "../components/utils/ButtonPdfDownloader.astro";
import PdfViewer from "../components/utils/PdfViewer.astro";

const { basics, education, stack, work, projects, languages, interests } = CV;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width,  initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Astro is a new kind of static site builder that delivers lightning-fast performance with a modern developer experience."
    />
    <title>{basics.name} | CV</title>
  </head>
  <body
    class="min-h-screen bg-white text-black dark:text-white font-sans mt-16 dark:bg-gradient-to-br dark:from-zinc-900 dark:via-zinc-900 dark:to-zinc-800"
  >
    <NavBar />
    <main
      class="max-w-screen-xl mx-auto p-4 print:p-0 print:bg-white print:text-black"
    >
      <section class="grid grid-cols-1 md:grid-cols-6 gap-4">
        <div class="md:col-span-4">
          <PersonalData basics={basics} />
        </div>
        <div class="md:col-span-2">
          <EducationData education={education} />
        </div>
        <div class="md:col-span-3">
          <StackData stack={stack} />
        </div>
        <div class="md:col-span-3">
          <ProjectsData projects={projects} />
        </div>
        <div class="md:col-span-2">
          <LanguageData languages={languages} />
        </div>
        <div class="md:col-span-4">
          <RandomData interests={interests} />
        </div>
        <div class="md:col-span-6 hidden noprint:block">
          <ExperienceData work={work} />
        </div>
      </section>
    </main>
    <PdfViewer {...CV} />
    <ButtonPdfDownloader targetId="cv-content" fileName="CV_StevenSilva.pdf" />
    <ThemeToggle />
  </body>
</html>

<style>
  body {
    position: relative;
    min-height: 100dvh;
  }
</style>
